<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577466071329-argfhstmpae43ohnrmqg76esjq4ibitq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577466071329-argfhstmpae43ohnrmqg76esjq4ibitq</string>
	<key>API_KEY</key>
	<string>AIzaSyCrJM_8G4sKyR3uqHGVnJVK2Pp2ASitKNA</string>
	<key>GCM_SENDER_ID</key>
	<string>577466071329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-clean-a0d49</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-clean-a0d49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577466071329:ios:f9bbe6b81dc5b8cf562660</string>
</dict>
</plist>